.autotools
Debug/
aclocal.m4
autom4te.cache/
compile
config.h.in
configure
configure.scan
depcomp
install-sh
missing
Makefile.in
config.guess
config.sub
autoscan.log
config.h.in~
ar-lib
ltmain.sh
m4/
.settings/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
a2dp.service
bt-a2dp*.tar.gz
